<%= form_with(model: hour, local: true) do |f| %>
  <% if hour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hour.errors.count, "error") %> prohibited this hour from being saved:</h2>

      <ul>
      <% hour.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :start %><br>
    <%= f.datetime_select :start, id: :hour_start, minute_step: 30, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :end %><br>
    <%= f.datetime_select :end, id: :hour_end, minute_step: 30, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :break %>
    <%= f.text_field :break, id: :hour_break, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :work_type %><br>
    <%= f.label :work_type  , "Non-Instructional", :value => "Non-Instr."  %>
    <%= f.radio_button :work_type , "Non-Instr.", checked: true %>
    <%= f.label :work_type  , "Instruction", :value => "Instruction" %>
    <%= f.radio_button :work_type , "Instruction" %>
    <%= f.label :work_type  , "Travel", :value => "Travel" %>
    <%= f.radio_button :work_type , "Travel" %>
  </div>

  <div class="form-group">
    <%= f.label :department %><br>
    <%= f.label :department  , "Wildfire", :value => "WLFR"  %>
    <%= f.radio_button :department , "WLFR", checked: true %>
    <%= f.label :department  , "GIS", :value => "GIS" %>
    <%= f.radio_button :department , "GIS" %>
    <%= f.label :department  , "Emergency Managment", :value => "EMGT" %>
    <%= f.radio_button :department , "EMGT" %>
  </div>

  <div class="form-group">
    <%= f.label :comment %>
    <%= f.text_area :comment, id: :hour_comment, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "SUBMIT", class: "btn btn-success" %>
  </div>
<% end %>
