<div class="col-sm-12 col-lg-10 center-block">

  <p>
    <strong>Date:</strong>
    <%= @hour.start.to_time.strftime('%m/%d/%y') %>
  </p>
  <p>
    <strong>Start:</strong>
    <%= @hour.start.to_time.strftime('%H:%M %p') %>
  </p>

  <p>
    <strong>End:</strong>
    <%= @hour.end.to_time.strftime('%H:%M %p') %>
  </p>

  <p>
    <strong>Break:</strong>
    <%= @hour.break %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= @hour.total %>
  </p>
  <p>
    <strong>Comment:</strong>
    <%= @hour.comment %>
  </p>

  <%= link_to 'Edit', edit_hour_path(@hour) %> |
  <%= link_to 'Back', hours_path %>
</div>