<div class="row">
  <div class="col-lg-10 col-sm-12 col-md-10 center-block">
    <p id="notice"><%= notice %></p>

      <p>
        <strong>Description:</strong>
        <%= @cost.description %>
      </p>
      <p>
        <strong>Price:</strong>
        <%= number_to_currency(@cost.price) %>
      </p>

      <!-- <p>
        <strong>Delivery:</strong>
        <%#= @cost.delivery_id %>
      </p> -->

      <p>
        <strong>User:</strong>
        <%= @cost.user_id %>
      </p>

      <p>
        <strong>Comment:</strong>
        <%= @cost.comment %>
      </p>

      <p>
        <strong>Date:</strong>
        <%= @cost.date %>
      </p>

      <%= link_to 'Edit', edit_cost_path(@cost) %> |
      <%= link_to 'Back', costs_path %>

      </div>
    </div>
