<div class="row">
  <div class="sm-8-col">
    <%= form_with(model: delivery, local: true) do |f| %>
      <% if delivery.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(delivery.errors.count, "error") %> prohibited this delivery from being saved:</h2>

          <ul>
          <% @delivery.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :course_number %>
        <%= f.text_field :course_number, id: :delivery_course_number, class: "form-control", placeholder: "COURSE NUMBER(EX. FRP-190)" %>
      </div>

      <div class="form-group">
        <%= f.select :course_id, options_for_select(Course.all.collect { | course | ["#{course.course_number} - #{(course.title)}", course.id] }, @delivery.course_id), {placeholder: "CHOOSE COURSE"}, {} %>
      </div>

      <div class="form-group">
        <%= f.label "Association" %>
        <%= f.text_field :requestor, id: :delivery_requestor, class: "form-control", placeholder: "REQUEST ASSOCIATION" %>
      </div>

      <div class="form-group">
        <%= f.label :start_date %>
        <%= f.text_field :start_date, id: :delivery_start_date, :data => {:provide => "datepicker"}, 
                         class: "form-control", placeholder: "START DATE" %>
      </div>

      <div class="form-group">
        <%= f.label :end_date %>
        <%= f.text_field :end_date, id: :delivery_end_date, :data => {:provide => "datepicker"}, class: "form-control", placeholder: "END DATE" %>
      </div>

      <div class="form-group">
        <%= f.label :times %>
        <%= f.text_field :times, id: :delivery_times,  class: "form-control", placeholder: "TIMES" %>
      </div>


      <div class="form-group">
        <%= f.label :address %>
        <%= f.text_area :address, id: :delivery_address, class: "form-control", placeholder: "ADDRESS" %>
      </div>

      <div class="form-group">
        <%= f.label :city %>
        <%= f.text_field :city, id: :delivery_city, class: "form-control", placeholder: "CITY" %>
      </div>

      <div class="form-group">
        <%= f.label :state %>
        <%= f.text_field :state, id: :delivery_state, class: "form-control", placeholder: "STATE" %>
      </div>

      <div class="form-group">
        <%= f.label "Zipcode" %>
        <%= f.text_field :zip, id: :delivery_zip, class: "form-control", placeholder: "ZIPCODE" %>
      </div>


      <div class="form-group">
        <%= f.label "Point of Contact" %>
        <%= f.text_area :poc, id: :delivery_poc, class: "form-control", placeholder: "POINT OF CONTACT" %>
      </div>

      <div class="form-group">
        <%= f.label :credits %>
        <%= f.text_field :credits, id: :delivery_credits, class: "form-control", placeholder: "CREDITS" %>
      </div>

      <div class="form-group">
        <%= f.label :fees %>
        <%= f.text_field :fees, id: :delivery_fees, class: "form-control", placeholder: "FEES" %>
      </div>

      <div class="form-group">
        <%= f.label :seat_load %>
        <%= f.text_field :seat_load, id: :delivery_seat_load, class: "form-control", placeholder: "SEAT LOAD" %>
      </div>
      <div class="form-group">

        <span class='form-group md-margin-right'><%= f.check_box :booked %>
                <%= f.label :booked, "Scheduled", id: :delivery_booked %></span>

        <span class='form-group md-margin-right'><%= f.check_box :audio_visual %>
                <%= f.label :audio_visual, "Has audio/visual", id: :audio_visual_booked %></span>

        <span class='form-group md-margin-right'><%= f.check_box :flyer_sent %>
                <%= f.label :flyer_sent, "Flyer Sent", id: :flyer_sent_booked %></span>

        <span class='form-group md-margin-right'><%= f.check_box :reg_form %>
                <%= f.label :reg_form, "Reg form", id: :reg_form_booked %></span>

        <span class='form-group md-margin-right'><%= f.check_box :roster %>
                <%= f.label :roster, "Roster", id: :roster_booked %></span>

        <span class='form-group md-margin-right'><%= f.check_box :welcome_letter %>
                <%= f.label :welcome_letter, "Welcome letter", id: :welcome_letter_booked %></span>

        <span class='form-group md-margin-right'><%= f.check_box :agenda %>
                <%= f.label :agenda, "Agenda", id: :agenda_booked %></span>

        <span class='form-group md-margin-right'><%= f.check_box :materials %>
                <%= f.label :materials, "Materials", id: :materials_booked %></span>

        <span class='form-group md-margin-right'><%= f.check_box :certificates %>
                <%= f.label :certificates, "Certificates", id: :certificates_booked %></span>

        <span class='form-group md-margin-right'><%= f.check_box :ta %>
                <%= f.label :ta, "TA", id: :ta_booked %></span>

        <span class='form-group md-margin-right'><%= f.check_box :invoiced %>
                <%= f.label :invoiced, "Invoiced", id: :invoiced_booked %></span>

       <span class='form-group md-margin-right'> <%= f.check_box :fac %>
                     <%= f.label :fac, "FAC", id: :fac_booked %></span>      
      </div>

      <div class="form-group">
        <%= f.label :notes %>
        <%= f.text_area :notes, id: :delivery_notes, class: "form-control", placeholder: "NOTES" %>
      </div>

      <div class="actions">
        <%= f.submit "SUBMIT", class: "btn btn-success" %>
      </div>
    <% end %>
  </div>
</div>


