<%= content_for :title, "Deliveries" %>
<!-- <p id="notice"><%#= notice %></p> -->

<div class="row">
  <div class="col-lg-10 col-sm-12 col-md-10 center-block">
    <%= link_to 'Calendar', 'javascript:;', class: 'btn btn-link btn-tiny float-right',
                                            id: "show-calendar" %>
    </div>
  </div>
<div class="row">
  <div id='deliveries' class="col-lg-10 col-sm-12 col-md-10 center-block">
    <h4>Deliveries</h4>
    <div class="table-responsive">
      
    <table class="table delivery-table">
      <thead>
        <tr>
          <th>#</th>
          <th>Course</th>
          <th>Title</th>
          <th>NWCG</th>
          <th>Dates</th>
          <th>Association</th>
          <th>Location</th>
          <th>Flyer</th>
          <th>Sent</th>
          <th>Reg Form</th>
          <th>Lead</th>
        </tr>
      </thead>
      <tbody>
          
          <% @deliveries.scheduled.each_with_index do |delivery, n| %>
        <tr data-link="<%= delivery_path(delivery) %>" class="delivery-row" >
            <td><%= n+1 %></td>
            <td><%= delivery.course_number %></td>
            <td><%= delivery.course.title %></td>
            <td><%= delivery.course.course_number %></td>
            <td><%= delivery.start_date.try(:strftime, "%b %e") %> - <%= delivery.end_date.try(:strftime, "%b %e, %Y") %></td>
            <td><%= delivery.requestor %></td>
            <td><%= display_location(delivery) %></td>
            <td><%= check_box_tag 'Flyer made', delivery.flyer_made, delivery.flyer_made, disabled: true %> </td>
            <td><%= check_box_tag 'Flyer sent', delivery.flyer_sent, delivery.flyer_sent, disabled: true %> </td>
            <td><%= check_box_tag 'Reg Form', delivery.reg_form, delivery.reg_form, disabled: true %> </td>
            <td><% if delivery.lead_instructor %><%= delivery.display_lead_instructor.last_name %><% end %> </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <% if !@deliveries.unscheduled.empty? %>
    <table class="table delivery-table">
      <thead>
        <tr>
          <th>#</th>
          <th>Course</th>
          <th>Title</th>
          <th>NWCG</th>
          <th>Dates</th>
          <th>Association</th>
          <th>Location</th>
        </tr>
      </thead>
      <tbody>
          <tr>UNSCHEDULED</tr>
          <% @deliveries.unscheduled.each_with_index do |delivery, n| %>
        <tr data-link="<%= delivery_path(delivery) %>" class="delivery-row" >
            <td><%= n+1 %></td>
            <td><%= delivery.course_number %></td>
            <td><%= delivery.course.title %></td>
            <td><%= delivery.course.course_number %></td>
            <td><%= delivery.start_date.try(:strftime, "%b %e") %> - <%= delivery.end_date.try(:strftime, "%b %e, %Y") %></td>
            <td><%= delivery.requestor %></td>
            <td><%= display_location(delivery) %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <% end %>
    </div>
     
  

    <div><%= link_to 'New Delivery', new_delivery_path, class: 'btn btn-primary' %></div>
    </div>
  </div>
    <div id="calendar" class="col-lg-10 col-sm-12 col-md-10 center-block"></div>


<script type="text/javascript"> 


  $("tr[data-link]").click(function() {
  window.location = $(this).data("link")
});
</script>