<%= content_for :title, "Deliveries" %>
<p id="notice"><%= notice %></p>

<div class="row">
  <div id='deliveries' class="col-lg-12 center-block">
    <h4>Deliveries</h4>
    <div class="table-responsive">
      
    <table class="table delivery-table">
      <thead>
        <tr>
          <th>Course</th>
          <th>Title</th>
          <th>NWCG</th>
          <th>Dates</th>
          <th>Association</th>
          <th>Location</th>
        </tr>
      </thead>
      <tbody>
          
          <% @deliveries.each do |delivery| %>
        <tr data-link="<%= delivery_path(delivery) %>" class="delivery-row" >
            <td><%= delivery.course_number %></td>
            <td><%= delivery.course.title %></td>
            <td><%= delivery.course.course_number %></td>
            <td><%= delivery.start_date.strftime("%b %e") %> - <%= delivery.end_date.strftime("%b %e, %Y") %></td>
            <td><%= delivery.requestor %></td>
            <td><%= delivery.city %>, <%= delivery.state %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    </div>
     
  

    <div><%= link_to 'New Delivery', new_delivery_path, class: 'btn btn-primary' %></div>
    </div>
  </div>

<script type="text/javascript">
  $("tr[data-link]").click(function() {
  window.location = $(this).data("link")
});
</script>