<%= content_for :title, "Deliveries" %>
<!-- <p id="notice"><%#= notice %></p> -->

<div class="row">
  <div id='deliveries' class="col-lg-10 col-sm-12 col-md-10 center-block">
    <h4>Deliveries</h4>
    <div class="table-responsive-sm">

    <table class="table delivery-table">
      <thead>
        <tr>
          <th>#</th>
          <th class="hidden-xs hidden-sm">Course</th>
          <th class="hidden-xs hidden-sm">Title</th>
          <th>NWCG</th>
          <th>Dates</th>
          <th>Association</th>
          <th>Location</th>
          <th class="hidden-xs hidden-sm">Lead</th>
        </tr>
      </thead>
      <tbody>

          <% @deliveries.scheduled.each_with_index do |delivery, n| %>
        <tr data-link="<%= delivery_path(delivery) %>" class="delivery-row" >
            <td><%= n+1 %></td>
            <td class="hidden-xs hidden-sm"><%= delivery.course_number %></td>
            <td class="hidden-xs hidden-sm"><%= delivery.course.title %></td>
            <td><%= delivery.course.course_number %></td>
            <td><%= delivery.start_date.try(:strftime, "%b %e") %> - <%= delivery.display_end_date.try(:strftime, "%b %e, %Y") %></td>
            <td><%= delivery.requestor %></td>
            <td><%= display_location(delivery) %></td>
            <td class="hidden-xs hidden-sm" ><% if delivery.lead_instructor %><%= delivery.display_lead_instructor.last_name %><% end %> </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <% if !@deliveries.unscheduled.empty? %>
    <table class="table delivery-table">
      <thead>
        <tr>
          <th>#</th>
          <th class="hidden-xs hidden-sm">Course</th>
          <th class="hidden-xs hidden-sm">Title</th>
          <th>NWCG</th>
          <th>Dates</th>
          <th>Association</th>
          <th>Location</th>
        </tr>
      </thead>
      <tbody>
          <tr>UNSCHEDULED</tr>
          <% @deliveries.unscheduled.each_with_index do |delivery, n| %>
        <tr data-link="<%= delivery_path(delivery) %>" class="delivery-row" >
            <td><%= n+1 %></td>
            <td class="hidden-xs hidden-sm"><%= delivery.course_number %></td>
            <td class="hidden-xs hidden-sm"><%= delivery.course.title %></td>
            <td><%= delivery.course.course_number %></td>
            <td><%= delivery.start_date.try(:strftime, "%b %e") %> - <%= delivery.display_end_date.try(:strftime, "%b %e, %Y") %></td>
            <td><%= delivery.requestor %></td>
            <td><%= display_location(delivery) %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <% end %>
    </div>



    <div><%= link_to 'New Delivery', new_delivery_path, class: 'btn btn-primary' %></div>
    </div>
  </div>


<script type="text/javascript">


  $("tr[data-link]").click(function() {
  window.location = $(this).data("link")
});
</script>
