<div id="delivery" class="container">
  <div class="row">
    <%= link_to 'ALL DELIVERIES', deliveries_path, class: 'btn btn-info' %>
    </br></br>
      <div class="col-sm-4">
        <strong>Course:</strong>
        <%= best_in_place @delivery, :course_number, :as => :input %>
      </div>
      <div class="col-sm-4">
        <strong>Title:</strong>
        <%= @delivery.course.title %>
      </div>
      <div class="col-sm-4">
        <strong>NWGC Equiv:</strong>
        <%= @delivery.course.course_number %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <strong>Dates:</strong>
          <%= @delivery.start_date.try(:strftime, '%b %e') %> - <%= @delivery.display_end_date.try(:strftime,'%b %e, %Y') %> 
      </div>
      <div class="col-sm-4">
        <strong>Time:</strong>
        <%= best_in_place @delivery, :times, :as => :input  %>
      </div>
      <div class="col-sm-4 no-new-line location">
        <strong>Location:</strong>
        <%= simple_format(@delivery.address) %>
        <%= display_location(@delivery)%>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <strong>Association:</strong>
        <%= @delivery.requestor %>
      </div>
      <div class="col-sm-8">
        <strong>Point of Contact:</strong>
        <%= @delivery.poc %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <strong>Seat load:</strong>
        <%= @delivery.seat_load %>
      </div>
      <div class="col-sm-4">
        <strong>Credits:</strong>
        <%= @delivery.credits %>
      </div>
      <div class="col-sm-4">
        <strong>Fees:</strong>
        <%= @delivery.fees %>
      </div>
      <div class="col-sm-4">
        <strong>Lead Instructor:</strong>
        <% if @delivery.lead_instructor %><%= @delivery.display_lead_instructor.full_name %><% end %>
      </div>
      <div class="col-sm-4">
        <strong>Unit Instructors:</strong>
        <% if @delivery.unit_instructors %>
          <ul>
            <% @delivery.unit_instructors.each do |i| %>
              <li class="unit-instructor-name"><%= i.user.full_name %>  <%= link_to 'delete', i, method: :delete, data: { confirm: 'Are you sure?' }, class: 'destroy-instructor btn btn-danger btn-xs' %></li>
            <% end %>
          </ul>
        <% end %>
        <span id="unit-instructor-form">
          <%= form_for @unit_instructor do |f| %>
            <%= f.select :user_id, options_for_select(User.instructors.all.collect { | instructor | [instructor.full_name, instructor.id] }), {prompt: "CHOOSE INSRTUCTOR"}, {} %>
            <%= f.hidden_field :delivery_id, value: @delivery.id %>
            <%= f.submit "SUBMIT", id: "unit-instructor-submit", class: "btn btn-success btn-sm" %>
          <% end %>
        </span>
        <span id="add-unit-instructor-button">
          <%= link_to "ADD", 'javascript:;', class: "btn btn-info btn-xs" %>
        </span>
      </div>
    </div>
  </br>
    <div>
      <span class="check-icon md-margin-right"><%#= check_box_tag 'Scheduled', @delivery.booked, @delivery.booked, disabled: true %>
        <%= label_tag 'Scheduled' %><%= best_in_place @delivery, :booked, as: :checkbox, collection: {false: image_tag('square-regular.svg'), true: image_tag('check-square-regular.svg')} %>
          </span>
          
        <span class="check-icon md-margin-right"><%= label_tag 'Has audio/visual' %><%= best_in_place @delivery, :audio_visual, as: :checkbox, collection: {false: image_tag('square-regular.svg'), true: image_tag('check-square-regular.svg')} %>
          </span>
    
        <span class="check-icon md-margin-right"><%= label_tag 'Flyer made' %><%= best_in_place @delivery, :flyer_made, as: :checkbox, collection: {false: image_tag('square-regular.svg'), true: image_tag('check-square-regular.svg')} %>
          </span>

        <span class="check-icon md-margin-right"><%= label_tag 'Flyer sent' %><%= best_in_place @delivery, :flyer_sent, as: :checkbox, collection: {false: image_tag('square-regular.svg'), true: image_tag('check-square-regular.svg')} %>
          </span>
    
        <span class="check-icon md-margin-right"><%= label_tag 'Reg Form' %><%= best_in_place @delivery, :reg_form, as: :checkbox, collection: {false: image_tag('square-regular.svg'), true: image_tag('check-square-regular.svg')} %>
        </span>
    
        <span class="check-icon md-margin-right"><%= label_tag 'Roster' %><%= best_in_place @delivery, :roster, as: :checkbox, collection: {false: image_tag('square-regular.svg'), true: image_tag('check-square-regular.svg')} %>
        </span>
    
        <span class="check-icon md-margin-right"><%= label_tag 'Welcome Letter' %><%= best_in_place @delivery, :welcome_letter, as: :checkbox, collection: {false: image_tag('square-regular.svg'), true: image_tag('check-square-regular.svg')} %>
        </span>
    
        <span class="check-icon md-margin-right"><%= label_tag 'Agenda' %>  <%= best_in_place @delivery, :agenda, as: :checkbox, collection: {false: image_tag('square-regular.svg'), true: image_tag('check-square-regular.svg')} %>
        </span>
    
        <span class="check-icon md-margin-right"><%= label_tag 'Materials' %>  <%= best_in_place @delivery, :materials, as: :checkbox, collection: {false: image_tag('square-regular.svg'), true: image_tag('check-square-regular.svg')} %>
        </span>
    
        <span class="check-icon md-margin-right"><%= label_tag 'Certificates' %>  <%= best_in_place @delivery, :certificates, as: :checkbox, collection: {false: image_tag('square-regular.svg'), true: image_tag('check-square-regular.svg')} %>
        </span>
  
        <span class="check-icon md-margin-right"><%= label_tag 'TA' %>  <%= best_in_place @delivery, :ta, as: :checkbox, collection: {false: image_tag('square-regular.svg'), true: image_tag('check-square-regular.svg')} %>  </span>
  
        <span class="check-icon md-margin-right"><%= label_tag 'Invoiced' %>  <%= best_in_place @delivery, :invoiced, as: :checkbox, collection: {false: image_tag('square-regular.svg'), true: image_tag('check-square-regular.svg')} %>  </span>
  
        <span class="check-icon md-margin-right"><%= label_tag 'FAC' %>  <%= best_in_place @delivery, :fac, as: :checkbox, collection: {false: image_tag('square-regular.svg'), true: image_tag('check-square-regular.svg')} %></span>
      </div>

  </p>

  <p>
    <strong>Notes:</strong>
    <%= easy_format(@delivery.notes) %>
  </p>
  <% if current_user.admin? %>
    <%= link_to (fa_icon('pencil-alt')),edit_delivery_path(@delivery), class: "btn edit-button btn-info"%></br>
  <% end %>
  </br>
  <div><%= commontator_thread(@delivery) %></div>
</div>

