<p>
  <strong>Course:</strong>
  <%= @delivery.course_number %>
</p>

<p>
  <strong>Course:</strong>
  <%= @delivery.course.title %>
</p>

<p>
  <strong>NWGC Equiv:</strong>
  <%= @delivery.course.course_number %>
</p>

<p>
  <strong>Dates:</strong>
  <%= @delivery.start_date.try(:strftime, '%b %e') %> - <%= @delivery.end_date.try(:strftime,'%b %e, %Y') %> 
</p>

<p>
  <strong>Time:</strong>
  <%= @delivery.start_time.try(:strftime,'%l:%M%p') %> - <%= @delivery.end_time.try(:strftime,'%l:%M%p') %>
</p>

<p>
  <strong>Location:</strong>
  <%= @delivery.city %>, <%= @delivery.state %>
</p>

<p>
  <strong>Requestor:</strong>
  <%= @delivery.requestor %>
</p>

<p>
  <strong>Point of Contact:</strong>
  <%= simple_format(@delivery.poc) %>
</p>

<p>
  <strong>Seat load:</strong>
  <%= @delivery.seat_load %>
</p>

<p>
  <strong>Credits:</strong>
  <%= @delivery.credits %>
</p>

<p>
  <strong>Fees:</strong>
  <%= @delivery.fees %>
</p>

<p>
  <strong>Notes:</strong>
  <%= simple_format(@delivery.notes) %>
</p>

<%= link_to 'Edit', edit_delivery_path(@delivery) %> |
<%= link_to 'Back', deliveries_path %>
