<div class="container">
  <div class="row">
    <div class="col-md-8 center-block">
      <h1 class="welcome-message"><strong>Welcome <%= current_user.first_name %></strong></h1>
      <p>You can see all of your deliveries at this page. You can keep track of your hours by
      clicking on your name and following the link to 'hours' in the drop-down menu.</p>
      <% if current_user.instructor? %>
        <% if !current_user.deliveries.empty? %>
          <h3><strong>Your Deliveries</strong></h3>
          <div>Lead</div>
          <ul>
          <% @leads.each do |d| %>
          <%= link_to delivery_path(d) do %>
            <li>
              <%= d.course.course_number %>  –
              <%= d.course.title %>  |
              <%= d.start_date.try(:strftime, "%b %e") %> -
              <%= d.display_end_date.try(:strftime, "%b %e, %Y") %>  |
              <%= display_location(d) %></li>
            <% end %>
          <% end %>
          </ul>
        <% end %>
        <% if !current_user.units.empty? %>
        <div>Unit</div>
          <ul>
          <% @units.each do |d| %>
          <%= link_to delivery_path(d) do %>
            <li><%= d.course.course_number %>  –
              <%= d.course.title %>  |
              <%= d.start_date.try(:strftime, "%b %e") %> -
              <%= d.display_end_date.try(:strftime, "%b %e, %Y") %>  |
              <%= display_location(d) %>  </li>
            <% end %>
          <% end %>
          </ul>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-8 center-block">
      <%# delivery_dates(@current_user.deliveries).each do |dd|  %>
      <h3><%#=  dd %></h3>
      <%# end %>
    </div>
  </div>
</div>