<% content_for :title, @user.full_name %>


<div class="row">
  <div id="show-user" class="col-md-8 center-block">
    <h1><%= t('.page_title') %></h1>
    <div>
      <strong>Email:</strong>  <%= @user.email %>
    </div>
    <div>
      <strong>Name:</strong>  <%= @user.full_name%>
    </div>
    <div>
      <strong>CCC ID#:</strong>  <%= @user.ccc_id%>
    </div>
    <div>
      <strong>Cell:</strong>  <%= @user.cell_phone%>
    </div>
    <div>
      <strong>Work:</strong>  <%= @user.work_phone%>
    </div>
    <div>
      <strong>Role:</strong>  <%= @user.role %></div>
    <div>
      <%= check_box_tag 'Instructor', @user.instructor, @user.instructor %>   <%= label_tag "Instructor" %>
    </div>
    <% if current_user.instructor? && if !@user.deliveries.empty? %>
      <h4>
        <strong><%= @user.first_name %>'s Deliveries</strong>
      </h4>
      <div>
        Lead
      </div>
      <ul>
        <% @leads.each do |d| %>
          <%= link_to delivery_path(d) do %>
            <li>
              <%= d.course.course_number %>  –  <%= d.course.title %>  |
              <%= d.start_date.try(:strftime, "%b %e") %> -
              <%= d.display_end_date.try(:strftime, "%b %e, %Y") %>  |
              <%= display_location(d) %>
            </li>
          <% end %>
        <% end %>
      </ul>
      <% if !current_user.units.empty? %>
        <div>
          Unit
        </div>
        <ul>
          <% @units.each do |d| %>
            <%= link_to delivery_path(d) do %>
              <li>
                <%= d.course.course_number %>  –  <%= d.course.title %>  |
                <%= d.start_date.try(:strftime, "%b %e") %> - <%= d.display_end_date.try(:strftime, "%b %e, %Y") %>  |
                <%= display_location(d) %>
              </li>
            <% end %>
          <% end %>
        </ul>
        <% end %>
      <% end %>
    <% end %>
    <% if current_user.admin? %>
      <h2>Current hours</h2>
      <h1>Hours</h1>

      <table class="table delivery-table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Start</th>
            <th>End</th>
            <th class="hidden-xs hidden-sm">Break</th>
            <th>Total</th>
            <th>Type</th>
            <th>Dept.</th>
            <th colspan="1"></th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @current_hours.each do |hour| %>
            <% if !hour.comment.empty? %>
              <div id=<%= hour.id %>
                <%= "-comment" %> class="hour-comment arrow_box">
                <%= hour.comment %></div>
            <% end %>
            <tr>
              <td><%= hour.start.to_time.strftime('%m/%d/%y') %></td>
              <td><%= hour.start.to_time.strftime('%H:%M %p') %></td>
              <td><%= hour.end.to_time.strftime('%H:%M %p') %></td>
              <td class="hidden-xs hidden-sm"><%= hour.break %></td>
              <td><%= hour.total %></td>
              <td>
                <% if hour.work_type == "Instruction" %>
                  <%= link_to fa_icon('graduation-cap'), 'javascript:;' %>
                <% end %>
              </td>
              <td><%= hour.department %></td>
              <td>
                <% if !hour.comment.empty? %>
                  <%= link_to fa_icon('comment'), 'javascript:;',
                        class: 'comment-button', data: hour.id %>
                <% end %>
              </td>
              <td><%= link_to (fa_icon('eye')), hour %></td>
              <td><%= link_to (fa_icon('pencil-alt')), edit_hour_path(hour) %></td>
              <td><%= link_to (fa_icon('times')), hour,
                        method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>



          <% end %>
          <tr>
            <td><strong>Total</strong></td>
            <td></td>
            <td></td>
            <td></td>
            <td><%= total_hours(@current_hours) %></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
      <% end %>
      <div class="no-link-underline float-left">
      </br>
      <%= link_to (fa_icon('pencil-alt')),edit_delivery_path(@user), class: "btn edit-button btn-info"%></br>
      <div class="delete-user-button">
        <%= link_to "DELETE THIS USER", admin_user_path(@user), method: :delete,
        data: { confirm: t('are_you_sure') }, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>
